<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %> 
<body>
    <h1>HIIIIII</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>DOB</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < customers.length; i++) {%>
                <tr>
                    <td><a href="/customers/<%=customers[i]._id%>"><%= customers[i].name %></a></td>
                    <td><%= customers[i].DOB%></td>
                </tr>
            <% } %>
        </tbody>  
    </table>
    <a href="/customers/new"><button>NEW</button></a>
</body>
</html>