h1 {
    color: white
}

.modal{
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 100px;
}

#tableContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#filters{
    background-color: blue;
}

#navButtons{
    background-color: blue;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

td { border-left:.2px solid grey; }
tr { border-left:.2px solid grey; }