<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/header")%>


    <h1>ADD NEW correspondence</h1> 
    <h2><%= customer.name %> </h2>
    <form action ="/customers/<%=customer._id%>/newCorrespondence" method = "POST">
        <input type="text" name="date" placeholder="Date">
        <textarea name = 'body'></textarea>
        <input value="submit" type="submit">
    </form>
</html>

